<script type="text/javascript" async="true" src="https://widgets.juniphq.com/v1/junip_shopify.js"></script>
<span class="junip-store-key" data-store-key="{{shop.metafields.junip.store_key}}"></span>

<span class="junip-product-summary" data-product-id="{{ product.id }}" data-product-rating-count="{{ product.metafields.junip.rating_count }}" data-product-rating-average="{{ product.metafields.junip.rating_average }}"> </span>