{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{% layout none %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<meta property="fb:app_id" content="424426844274364"/>

{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="twitter:card" content="summary_large_image" />
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="twitter:title" content="The Ultimate Reset Sweep" />
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="twitter:description" content="One winner will receive the perfect wellness package:• BrainTap Power Bundle – Includes their cutting-edge headset and 1 year of access to the Brain Fitness app, designed to support focus, stress reduction, and cognitive performance.• Aires Tech Freedom Bundle – Advanced EMF modulation technology for personal protection wherever life takes you.• KONO Full Body Hydrate – A full year supply of their hydration-optimized mineral supplement designed to support energy, performance, and recovery." />
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="twitter:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1744314790/mmvr9qvj4y31hosr40om.png" />
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
        
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta property="og:url" content="https://app.viralsweep.com/sweeps/full/cadc55-204445?framed=1"/>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta property="og:type" content="article"/>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta property="og:title" content="The Ultimate Reset Sweep"/>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta property="og:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1744314790/mmvr9qvj4y31hosr40om.png"/>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta property="og:site_name" content="The Ultimate Reset Sweep"/>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
<meta property="fb:admins" content="1088490351"/>
<meta property="fb:admins" content="11512735"/>
<meta property="fb:admins" content="1088490312"/>
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta property="og:description" content="One winner will receive the perfect wellness package:• BrainTap Power Bundle – Includes their cutting-edge headset and 1 year of access to the Brain Fitness app, designed to support focus, stress reduction, and cognitive performance.• Aires Tech Freedom Bundle – Advanced EMF modulation technology for personal protection wherever life takes you.• KONO Full Body Hydrate – A full year supply of their hydration-optimized mineral supplement designed to support energy, performance, and recovery."/>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>The Ultimate Reset Sweep</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
<style type="text/css">
body { border: 0; margin: 0; padding: 0; }
</style>

<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

</head>
<body style="margin:0px;padding:0px;">
<div id="vsscript_204445_414039"></div>
<script async type="text/javascript" src="https://app.viralsweep.com/vsa-full-cadc55-204445.js?sid=204445_414039"></script>
</body>
</html>