{% layout none %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<meta property="fb:app_id" content="424426844274364"/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Maycee Barber x Aires Sweepstakes" />
<meta name="twitter:description" content="Maycee Barber is back in the Octagon!To celebrate our #AiresAthlete stepping into the ring once again, we’re giving away an exclusive prize pack featuring signed Maycee Barber merch and the ultimate Aires bundle—including one of each of our pieces of tech!Don’t miss your chance to win this giveaway. Enter now!" />
<meta name="twitter:image" content="" />
        
<meta property="og:url" content="https://app.viralsweep.com/sweeps/full/837769-206268?framed=1"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Maycee Barber x Aires Sweepstakes"/>

<meta property="og:site_name" content="Maycee Barber x Aires Sweepstakes"/>
<meta property="fb:admins" content="1088490351"/>
<meta property="fb:admins" content="11512735"/>
<meta property="fb:admins" content="1088490312"/>
<meta property="og:description" content="Maycee Barber is back in the Octagon!To celebrate our #AiresAthlete stepping into the ring once again, we’re giving away an exclusive prize pack featuring signed Maycee Barber merch and the ultimate Aires bundle—including one of each of our pieces of tech!Don’t miss your chance to win this giveaway. Enter now!"/>
<title>Maycee Barber x Aires Sweepstakes</title>
<style type="text/css">
body { border: 0; margin: 0; padding: 0; }
</style>

<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

</head>
<body style="margin:0px;padding:0px;">
<div id="vsscript_206268_361586"></div>
<script async type="text/javascript" src="https://app.viralsweep.com/vsa-full-837769-206268.js?sid=206268_361586"></script>
</body>
</html>